body {
    background-image: url(https://i.pinimg.com/474x/08/83/98/088398e4a058dac0ffedb775ea598078.jpg);
    font-family: 'Miriam Libre', sans-serif;
}
input{
    border-radius: 12%;
}
nav{
    width: 100%;
}

.movieSrch,
.headtext{
    color: azure;
}

.movieSlide{
    margin: auto;
}

.pictureCarosel{
background-color: black;
}

.captext{
    text-align: center;
}


h3{
    box-sizing: border-box;
    border: 2px;
    padding: 2px;
    color: white;
    font-size: medium;
}

#form-row {
    justify-content: center;
}

#error-display {
    margin-top: 10px;
    font-weight: 800;
    width: 80%;
}

#show-title {
    font-weight: 500;
    font-size: 30px;
}

#show-data {
    padding-top: 20px;
}

#friends-image {
    padding-top: 20px;
}

.season-heading {
    font-weight: 800;
}

.Disabled{
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  #episodes {
      float: left;
      padding-top: 30px;
      padding-left: 5%;
      padding-bottom: 20px;
      width: 100%;
  }

  #show-poster {
      float: left;
  }

  #episodes-btn {
      float: right;
      width: 200px;
  }

  #search-results{
      color: black;
  }

.movieName{
float: left;
}

.movieGenre{
    float: left;
}
 

.clearfix::after {
    content: " ";
    display: block;
    clear: both;
  }

  .titleMovies{
      color: azure;
  }
 .genre-card {
     display: none;
 }
 
@media (max-width: 425px) {
    img{
        width: 50%;
    }
    .watchTrailer{
        width: 50%;
    }
}

@media (max-width: 375px) {
    img{
        width: 25%;
    }
    .watchTrailer{
        width: 25%;
    }
}